In [223]:
import pandas as pd
import numpy as np

In [202]:
#наш датасет
df = pd.read_excel(r'C:\dz\calls.xlsx').drop(['Unnamed: 3','Результат'], axis =1)
df

   №  Номер1 (исп)  Номер2 (исп)
0  1   79772704850   79772704850
1  2   79615034800   79615034800
2  3   79219089110   79219089111
3  4   79772704850   79060295744
4  5   79531117704   79531117704
5  6   79219089111   79534817900
6  7   79267649094   79615034800
7  8   79038625201   79038625201
8  9   79117858725   79038625201

In [203]:
#функция, которая возвращает связки, где один и тот же номер
def pairs(a,b):
    i = 0
    c = []
    while i<(len(df['№'])):
        if a[i]==b[i]:
            c.append(df['№'][i]-1)
        i+=1      
    return(c)

In [204]:
a = df['Номер1 (исп)']
b = df['Номер2 (исп)']

In [205]:
c = pairs(a,b)
c

[0, 1, 4, 7]

In [207]:
#новый датасет, где нет связок с уникальным номером
df_npairs = df.drop(c)
df_npairs

   №  Номер1 (исп)  Номер2 (исп)
2  3   79219089110   79219089111
3  4   79772704850   79060295744
5  6   79219089111   79534817900
6  7   79267649094   79615034800
8  9   79117858725   79038625201

In [208]:
# массив связок где один и тот же номер
df_pairs = df['Номер1 (исп)'][c]

In [209]:
#массив, где нет связок одинаковых номеров
conc = pd.concat([df_npairs['Номер1 (исп)'], df_npairs['Номер2 (исп)']])

In [216]:
#функция которая возвращает массив номеров из связок, которые встречаются более одного раза (т.е. встречаютс не только в связке)
def uni(x,y):
    c = []
    for i in x:
        for j in y:
            if i == j:
                c.append(i)
    return(c)

In [212]:
#массив из связок, где номер встречается больше раза (заюзали uni функцию)
dubl =uni(df_pairs, conc)
dubl

[79772704850, 79615034800, 79038625201]

In [219]:
prs= []
for i in df_pairs:
    prs.append(i)
prs

[79772704850, 79615034800, 79531117704, 79038625201]

In [229]:
finale = np.in1d(prs, dubl)
finale

array([ True,  True, False,  True])

In [237]:

prs[2]

79531117704

In [234]:
df['status']=['повтор','повтор','повтор','повтор','уникальный','повтор','повтор','повтор','повтор']

In [235]:
df

   №  Номер1 (исп)  Номер2 (исп)      status
0  1   79772704850   79772704850      повтор
1  2   79615034800   79615034800      повтор
2  3   79219089110   79219089111      повтор
3  4   79772704850   79060295744      повтор
4  5   79531117704   79531117704  уникальный
5  6   79219089111   79534817900      повтор
6  7   79267649094   79615034800      повтор
7  8   79038625201   79038625201      повтор
8  9   79117858725   79038625201      повтор